[remote "Replica"]
    url = file:///var/gerrit/git-replica/${name}.git
    push = +refs/*:refs/*
    mirror = true
    timeout = 600
    rescheduleDelay = 3
    replicationDelay = 0
    replicationRetry = 0
    createMissingRepositories = true
    replicateProjectDeletions = true
    replicateHiddenProjects = true
[gerrit]
    autoReload = true
    replicateOnStartup = true
[replication]
    lockErrorMaxRetries = 5
    maxRetries = 5
