**/.idea
**/.DS_Store
common/gerrit/lib
common/gerrit/plugins
zookeeper-data
zookeeper-datalog
kafka-data
id_rsa
id_rsa.pub
gerrit-data
gerrit-etc
gerrit-index
gerrit-git
gerrit-db
gerrit-cache
gerrit-logs
**/prometheus-data
**/grafana-data
**/jmx_prometheus_javaagent.jar
**/data-kafka-*
**/release.war
